<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <th:block th:replace="~{fragments/config::configFragment}"></th:block>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Bino html5 free Template</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body data-spy="scroll" data-target=".navbar-collapse" style="background-color: #f4f5f9;">

<div class='preloader'><div class='loaded'>&nbsp;</div></div>
<div class="culmn">
  <header id="main_menu" class="header navbar-fixed-top" th:replace="~{fragments/header::headerFragment}"></header> <!--End of header -->

  <div class="container main-content">
    <div class="row">
      <div class="col-sm-12">
        <div class="contact_contant sections">
          <div class="head_title text-center">
            <h2 th:text="${title}"></h2>
            <div class="subtitle" th:text="${description}"></div>
            <div class="separator"></div>
            <div class="col-sm-12">
              <div class="single_contant_left padding-top-90 padding-bottom-90">
                <div layout:fragment="content" class="content"></div>
              </div>
            </div>
          </div><!-- End off Head_title -->
        </div>
      </div>
    </div>
  </div>


  <section class="footer" th:replace="~{fragments/footer::footerFragment}">
  </section>
</div>

<!-- START SCROLL TO TOP  -->

<div class="scrollup">
  <a href="#"><i class="fa fa-chevron-up"></i></a>
</div>



</body>
</html>
