<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <th:block th:replace="fragments/config::configFragment"></th:block>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Bino html5 free Template</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body data-spy="scroll" data-target=".navbar-collapse">

<div class='preloader'><div class='loaded'>&nbsp;</div></div>
<div class="culmn">
  <header id="main_menu" class="header navbar-fixed-top" th:replace="fragments/header::headerFragment"></header> <!--End of header -->

  <div layout:fragment="content" class="content"></div>

  <section class="footer" th:replace="fragments/footer::footerFragment">
  </section>
</div>

<!-- START SCROLL TO TOP  -->

<div class="scrollup">
  <a href="#"><i class="fa fa-chevron-up"></i></a>
</div>



</body>
</html>
