<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>가게 목록</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 8px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }
        tbody tr:hover {background-color: lightgoldenrodyellow;}

    </style>
</head>
<body>
<div layout:fragment="content">
    <div role="region" aria-label="data table" tabindex="0" class="primary">
        <table>
            <thead>
                <tr>
                    <td>id</td>
                    <td>매장명</td>
                    <td>한 줄 설명</td>
                    <td>삭제 여부</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="store : ${storeList}"
                    th:onclick="|location.href='/store/detail/${store.id}'|">
                    <td th:text="${store.id}"></td>
                    <td th:text="${store.storeName}"></td>
                    <td th:text="${store.desShort}"></td>
                    <td th:text="${store.delYn}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>